<!--
    Created by Michael Piercey 2206222 -- finalised 11/12/23
-->

<!DOCTYPE html>
<html lang="en">
<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Cinemind | groups', cssFiles: ['styles/nav.css', 'styles/newgroups.css'], bootstrap: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'groups'}) %>

<div id="main-container" class="wrapper">
  <div class="side-nav">
      <!-- side nav show the container -->
      <h2>Groups</h2>
      <a href="#" onclick="showAccountContent('New-Group')">New group</a>
      <!-- Loop through user's group codes and generate links -->
      <% userGroups.forEach(group => { %>
          <a href="#" onclick="showAccountContent('<%= group.groupCode %>')"><%= group.groupName %></a>
      <% }); %>
  </div>

  <% userGroups.forEach(group => { %>
      <div id="container-<%= group.groupCode %>" class="account-container" style="display: none;">
          <!-- Display group code -->
          <h1>Group Code: <%= group.groupCode %></h1>
          <!-- Display group name -->
          <h2>Group Name: <%= group.groupName %></h2>

          <div class="group-review-container">
            <h1 class="welcome-title">Group reviewed</h1>
            <h3 class="welcome-text">list of movies group has rated</h3>
  
          <div class="watchlist-movie-card">
          <div class="watchlist-movie-details" id="watchlist-movie-details">
            <h2>Movie Title</h2>
            <img src="https://image.tmdb.org/t/p/original/fNOH9f1aA7XRTzl1sAOx9iF553Q.jpg" alt="Movie Poster">
            <p>Year: 1985</p>
          </div>
        
          <div class="watchlist-extra" id="watchlist-extra-0" style="background-image: url('https://image.tmdb.org/t/p/original/3lbTiIN8cVonMUQwaeh5nvn61lr.jpg'); display: flex;">
            <h3>List of ratings</h3>
           <h6>jon 5.5</h6>
           <h6>jon 5.5</h6>
           <h6>jon 5.5</h6>
           <h6>jon 5.5</h6>
           
           <h6>jon 5.5</h6>
           <h6>jon 5.5</h6>
           <h6>jon 5.5</h6>
  
    
          </div>
        
        </div>

       </div>
  
  
          
        
          <div class="group-selector-container-chat" style="display: block;">
              <h1 class="welcome-title">Change to chat</h1>
              <button class="change-btn" onclick="showGroupContent('chat')">Change to Chat</button>
          </div>
  
          <div class="group-selector-container-watchlist" style="display: none;">
              <h1 class="welcome-title">Change to watchlists</h1>
              <button class="change-btn" onclick="showGroupContent('watchlists')">Change to watchlists</button>
          </div>
            
          <div class="watchlist-container" style="display: block;">
            <h1 class="welcome-title">Create a watchlist</h1>
            <h3 class="welcome-text">Create a watchlist for the group</h3>
            <input type="text" id="movie-search-bar-<%= group.groupCode %>" class="search-bar" placeholder="Search">
            <input type="hidden" class="groupcode" value="<%= group.groupCode %>">
            <button class="search-button" onclick="getSearchFromTMDBWatchlist('<%= group.groupCode %>')">Search</button>
        
            <!-- Results container with group code -->
            <div class="results-movie-card-container" id="results-movie-card-container-<%= group.groupCode %>">
                <!-- Search results will be inserted here -->
            </div>

            </div>
        
          <div class="watchlist-container" style="display: block;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
              // Define the JavaScript function to get group watchlist details
              function getGroupWatchlistDetails(groupCode) {
                  // Make an AJAX request to fetch group watchlist data
                  $.ajax({
                      type: 'GET',
                      url: '/getGroupWatchlist',
                      data: { groupCode: groupCode },
                      success: function(response) {
                          // Log the received JSON data to the console
                          console.log('Watchlist details for Group Code ' + groupCode + ': ', response);
          
                          // Iterate through each watchlist item in the response
                          response.groupWatchlist.forEach(function(item) {
                              // Call getWatchlistFromTMDB with movieId, watchDate, and watchTime
                              getWatchlistFromTMDB(item.movieId, item.watchDate, item.watchTime);
                          });
                      },
                      error: function(error) {
                          console.error('Error fetching group watchlist for Group Code ' + groupCode + ': ', error);
                      }
                  });
              }
          
              // Call the function with the group's code
              getGroupWatchlistDetails('<%= group.groupCode %>');
          </script>
          
          
            <h1 class="welcome-title">Group watchlist zone</h1>
            <h3 class="welcome-text">This is where a list of group watchlists</h3>
            <div class="watchlist-movie-card-container" id="watchlist-movie-card-container-<%= group.groupCode %>">
              <!-- Movie cards for group <%= group.groupCode %> will be inserted here -->
          </div>
            <div class="watchlist-movie-card">
            <div class="watchlist-movie-details" id="watchlist-movie-details">
              <h2>Movie Title</h2>
              <img src="https://image.tmdb.org/t/p/original/fNOH9f1aA7XRTzl1sAOx9iF553Q.jpg" alt="Movie Poster">
              <p>Year: 1985</p>
            </div>
          
            <div class="watchlist-extra" id="watchlist-extra-0" style="background-image: url('https://image.tmdb.org/t/p/original/3lbTiIN8cVonMUQwaeh5nvn61lr.jpg'); display: flex;">
              <h3>Watchlist scheduled</h3>
              <h6>tuesday: 21:00</h6>
  
  
              <!-- goes to where to watch using js, will add where to watch api next semester -->          
      
            </div>
          
          </div>
          </div>
  
              <!-- Chat section -->
              <div class="chat-container" style="display: none;">
                  <h1>Chat with the group</h1>
                  <!-- Previous chats -->
                  <div class="previous-chats">
                      <div class="container darker">
                          <div class="user-info">
                              <img src="img/user1.jpg" alt="userpfp" class="right">
                              <p class="username">Emmet</p> 
                          </div>
                          <p>Hello everyone!</p>
                          <span class="time-right">11:00</span>
                      </div>
                      <div class="container">
                          <div class="user-info">
                              <img src="img/user2.jpg" alt="userpfp">
                              <p class="username">Marty</p> 
                          </div>
                          <p>Hi Doc!</p>
                          <span class="time-left">11:01</span>
                      </div>
                      <!-- Add more previous chats here -->
                  </div>
                  <!-- Text input bar -->
                  <div class="text-input">
                      <input type="text" placeholder="Type your message...">
                      <button>Send</button>
          </div>
          </div>

      </div>
  <% }); %>



      

  <div id="container-New-Group" class="account-container">
      <h1>Create a new group</h1>

      <div class="account-activites-container">
        <div class="activities-container" style="margin-left: 0;">
            <h3>Create a new group name</h3>
            <form action="/addGroup" method="post">
            <input type="text" id="groupName" name="groupName" required placeholder="Enter your new name">
            <button class="account-change-button">Submit</button><br>
            </form>
        </div>
        <div class="activities-container" style="padding: 5px;">
          <h3>Join group with code</h3>
          <form action="/joinGroup" method="post"> <!-- Update the form action -->
              <input type="text" name="groupCode" class="account-textbox" placeholder="Enter a group code">
              <button type="submit" class="account-change-button">Join!</button><br>
          </form>
      </div>
      


      </div>


  </div>



    </div>

    <%- include('../partials/footer.ejs')%>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../scripts/newgroups.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Include jQuery -->




</html>
