<!--
    Created by Michael Piercey 2206222 -- finalised 11/12/23
-->

<!DOCTYPE html>
<html lang="en">
<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Cinemind | groups', cssFiles: ['styles/nav.css', 'styles/newgroups.css'], bootstrap: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'groups'}) %>


  <div id="main-container" class="wrapper">
    <div class="side-nav">
      <!-- side nav show the container -->
      <h2>Groups</h2>
      <a href="#" onclick="showAccountContent('New-Group')">New group</a>
      <!-- Loop through user's group codes and generate links -->
      <% userGroups.forEach(groupCode => { %>
          <a href="#" onclick="showAccountContent('<%= groupCode %>')"><%= groupCode %></a>
      <% }); %>
  </div>
  

     <!-- Container for displaying group details -->
     <% userGroups.forEach(group => { %>
      <div id="container-<%= group.groupName %>" class="account-container" style="display: none;">
          <h1><%= group.groupName %></h1>
          <% group.reviews.forEach(review => { %>
              <div class="group-review-container">
                  <h1 class="welcome-title"><%= review.movieTitle %></h1>
                  <h3 class="welcome-text">Year: <%= review.movieYear %></h3>
                  <!-- Loop through ratings -->
                  <div class="watchlist-extra" style="background-image: url('<%= review.moviePoster %>'); display: flex;">
                      <h3>List of ratings</h3>
                      <% review.ratings.forEach(rating => { %>
                          <h6><%= rating.username %> <%= rating.rating %></h6>
                      <% }); %>
                      <!-- goes to where to watch using js, will add where to watch api next semester -->          
                  </div>
              </div>
          <% }); %>
      </div>
  <% }); %>
      

  <div id="container-New-Group" class="account-container">
      <h1>Create a new group</h1>

      <div class="account-activites-container">
        <div class="activities-container" style="margin-left: 0;">
            <h3>Create a new group name</h3>
            <form action="/addGroup" method="post">
            <input type="text" id="groupName" name="groupName" requiredplaceholder="Enter your new name">
            <button class="account-change-button">Submit</button><br>
            </form>
        </div>
        <div class="activities-container" style="padding: 5px;">
          <h3>Join group with code</h3>
          <input type="text" class="account-textbox" placeholder="Enter a group code">
          <button class="account-change-button">Join!</button><br>

        </div>


      </div>


  </div>



    </div>

    <%- include('../partials/footer.ejs')%>

</body>

<script src="../scripts/newgroups.js"></script>

</html>
